.BootCamp {
    color: rgb(0 163 230);
}

.switch-container {
    position: relative;
    width: 3.75em;
    height: 1.875em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.switch-background {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 0.938em;
    transition: background-color 0.3s;
}

.switch-button {
    position: absolute;
    top: 0.188em;
    left: 0.188em;
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-mode-icon {
    font-size: 1.2em;
}

.switch-container.dark-mode-active .switch-background {
    background-color: #3a1078;
}

.switch-container.dark-mode-active .switch-button {
    left: 33px;
    background-color: #af96ff;
}

/* Estilos para modo oscuro */
body.dark-mode {
    background-color: #000000 !important; /* Fondo negro */
    color: #ffffff !important; /* Texto blanco */
}

header.dark-mode {
    background-color: #121212 !important; /* Fondo oscuro para el header */
    color: #ffffff !important; /* Texto blanco */
}

form.dark-mode {
    border-color: #ffffff !important; /* Borde blanco */
    background-color: #1e1e1e !important; /* Fondo más oscuro para el formulario */
    color: #ffffff !important;
}

h2.dark-mode {
    color: #ffffff !important; /* Título en blanco */
}

label.dark-mode,
input.dark-mode {
    color: #ffffff !important; /* Texto blanco */
    background-color: #333333 !important; /* Fondo gris oscuro */
    border: 2px solid #ffffff !important; /* Bordes blancos */
}

button.dark-mode {
    background-color: #ffffff !important; /* Fondo del botón en blanco */
    color: #000000 !important; /* Texto del botón en negro */
    border: 2px solid #ffffff !important;
}

.mensaje.dark-mode {
    color: #ffcc00 !important; /* Texto amarillo para mensajes de advertencia */
}




